body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.single-item {
  width: 15rem;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: lightcoral;
}

.single-item.added {
  background-color: cornflowerblue;
}

.delete-item {
  background-color: orange;
  margin: 0.5rem;
}
